@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: hidden;
}

@layer base {
	@font-face {
		font-family: "Univers";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/assets/font/centurygothic.ttf) format("truetype");
	}
	@font-face {
		font-family: "Univers";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/assets/font/centurygothic_bold.ttf) format("truetype");
	}
}
